*.lime
*.out
__pycache__
analysis/*.pdf
analysis/*.png
evaluations.*
smear-configuration/chroma-smear.ini.xml
smear-configuration/smeared-smear.chroma-ini.xml
smear-configuration/wilson-clover_cfg_1-smear.chroma-ini.xml
wilson-clover/hmc-wilson-clover.ini.xml
XMLDAT
XMLLOG
analysis/.kdev4/
analysis/analysis.kdev4
cp-pacs-ensemble/hmc-cp-pacs.ini.xml
cp-pacs-ensemble/hmc-cp-pacs.ini.yml
cp-pacs-ensemble/output
analysis/physical_point/GMOR.pdf
analysis/physical_point/ampi-sq-vs-aml.tsv
analysis/physical_point/mpi-sq-vs-aml.tsv
analysis/physical_point/mpi-vs-aml-band.tsv
analysis/physical_point/mpi-vs-aml-data.tsv
analysis/physical_point/mpi-vs-aml-fit.tsv
analysis/test.tsv
