# This is an example input file

# parallelisation: Be carefull - Atm I would only use one thread for Eigen. It 
#                                usually is much slower than simple omp!
nb_omp_threads = 4
nb_eigen_threads = 1

# lattice parameters:
Lt = {{ lattice_time }}
Lx = {{ lattice_space }} 
Ly = {{ lattice_space }} 
Lz = {{ lattice_space }}

# configuration handling: 
start_config = {{ config_start }}
end_config = {{ config_end }}
delta_config = {{ config_step }}

# eigenvector handling: path not neede right now
number_of_eigen_vec = {{ ev_count }}
{% if ev_path != '' %}
path_eigenvectors = {{ ev_path }}
{% endif %}
name_eigenvectors = eigenvectors
# output path
output_path = {{ rundir }}
overwrite_old = yes

# quarks to be used - The file at the and is the location of the perambulators.
[quarks]
{% for quark in quarks -%}
{{ quark }}
{% endfor -%}

# operators to be used
[operator_lists]
operator_list = g0.d0.p0
operator_list = g1.d0.p0
operator_list = g2.d0.p0
operator_list = g3.d0.p0
operator_list = g4.d0.p0
operator_list = g5.d0.p0

# all correlation functions which will be computed
[correlator_lists]
{{ correlator_list }}
